fsspec  >= 2024.6.0
geopandas >= 0.14.4
numpy     >= 1.26.4
matplotlib >= 3.9.0
dask[complete] >= 2024.5.2
xarray    >= 2024.5.0
rioxarray >= 0.15.5
geocube   >= 0.5.2
s3fs      >= 2024.6.0
zarr      >= 2.18.2
jupyterlab >= 4.4.3
